[Unit]
Description=Run Finnet asset price refresh on a schedule

[Timer]
OnCalendar=hourly
RandomizedDelaySec=10m
Persistent=true
Unit=finnet-refresh-prices.service

[Install]
WantedBy=timers.target
